<div class="container">
    <div class="input-group">
        <div class="custom-file">
            <input #i_model type="file" class="custom-file-input" id="i_model" accept=".json" (change)="onFileChange($event)">
            <label class="custom-file-label" for="i_model">Model</label>
        </div>
    </div>
    <div class="input-group mt-2">
        <div class="custom-file">
            <input #i_weights type="file" class="custom-file-input" id="i_weights" accept=".bin" (change)="onFileChange($event)">
            <label class="custom-file-label" for="i_weights">Weights</label>
        </div>
    </div>
    <div class="input-group mt-2">
        <div class="custom-file">
            <input #i_test_data type="file" class="custom-file-input" id="i_test_data" (change)="onFileChange($event)">
            <label class="custom-file-label" for="i_test_data">Test data</label>
        </div>
    </div>
    <div class="input-group mt-2">
        <div class="custom-file">
            <input #i_labels type="file" class="custom-file-input" id="i_labels" (change)="onFileChange($event)">
            <label class="custom-file-label" for="i_labels">Labels</label>
        </div>
    </div>
    <div class="input-group mt-2">
        <div class="custom-file">
            <input #i_class_names type="file" class="custom-file-input" id="i_class_names" (change)="onFileChange($event)">
            <label class="custom-file-label" for="i_class_names">Class names</label>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary" (click)="loadModel()">Submit</button>
        </div>
    </div>
    <table *ngIf="testContext.classNames">
        <tr *ngFor="let x of testContext.testData; index as i;">
            <td>{{i}}</td>
            <td>{{testContext.classNames[i]}}</td>
        </tr>
    </table>
    <canvas id="canv"></canvas>
    <button class="btn btn-light" (click)="loadDataset()">LoadImage</button>
</div>