<div class="container">
    <div class="card" *ngIf="!model">
        <div class="card-body">
            <h5 class="card-title">Import Model</h5>
            <div class="input-group">
                <div class="custom-file">
                    <input #i_model type="file" class="custom-file-input" id="i_model" accept=".json" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="i_model">Model</label>
                </div>
            </div>
            <div class="input-group mt-2">
                <div class="custom-file">
                    <input #i_weights type="file" class="custom-file-input" id="i_weights" accept=".bin" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="i_weights">Weights</label>
                </div>
            </div>
            <div class="input-group mt-2">
                <div class="custom-file">
                    <input #i_test_data type="file" class="custom-file-input" id="i_test_data" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="i_test_data">Test data</label>
                </div>
            </div>
            <div class="input-group mt-2">
                <div class="custom-file">
                    <input #i_labels type="file" class="custom-file-input" id="i_labels" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="i_labels">Labels</label>
                </div>
            </div>
            <div class="input-group mt-2">
                <div class="custom-file">
                    <input #i_class_names type="file" class="custom-file-input" id="i_class_names" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="i_class_names">Class names</label>
                </div>
            </div>
            <div class="row mt-2" *ngIf="!model">
                <div class="col-6"></div>
                <div class="col-6">
                    <button class="btn btn-primary" (click)="loadModel()">Import</button>
                </div>
            </div>

        </div>
    </div>
    <div class="card" id="config" *ngIf="testContext.readyForTest">
        <div class="card-header text-center">
            Test configuration
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb_fgsm" [checked]="testContext.fgsm" (change)="testContext.fgsm=!testContext.fgsm">
                        <label class="form-check-label " for="cb_fgsm">Fasm</label>
                    </div>
                </div>
                <div *ngIf="testContext.fgsm" class="col-sm-6 ">
                    <div class="form-group">
                        <label>Epsilon {{testContext.config.fgsm.epsilon}}</label>
                        <input class="slider" type="range" [(ngModel)]="testContext.config.fgsm.epsilon" min="0.001" max="0.7" step="0.001">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb_jsma" [checked]="testContext.jsma" (change)="testContext.jsma=!testContext.jsma">
                        <label class="form-check-label " for="cb_jsma">JSMA</label>
                    </div>
                </div>
                <div *ngIf="testContext.jsma" class="col-sm-6">
                    <div class="form-group">
                        <input type="range">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb_bim" [checked]="testContext.bim" (change)="testContext.bim=!testContext.bim">
                        <label class="form-check-label " for="cb_bim">BIM</label>
                    </div>
                </div>
                <div *ngIf="testContext.bim" class="col-sm-6">
                    <div class="form-group">
                        <label>Epsilon {{testContext.config.bim.epsilon}}</label>
                        <input class="slider" type="range" [(ngModel)]="testContext.config.bim.epsilon" min="0.001" max="0.7" step="0.001">

                        <label>Alpha {{testContext.config.bim.alpha}}</label>
                        <input class="slider" type="range" [(ngModel)]="testContext.config.bim.alpha" min="0.001" max="0.7" step="0.001">

                        <label>Iterations {{testContext.config.bim.iterations}}</label>
                        <input class="slider" type="range" [(ngModel)]="testContext.config.bim.iterations" min="1" max="100" step="1">

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb_cw" [checked]="testContext.cw" (change)="testContext.cw=!testContext.cw">
                        <label class="form-check-label " for="cb_bim">C&W</label>
                    </div>
                </div>
                <div *ngIf="testContext.cw" class="col-sm-6">
                    <div class="form-group">
                        <input type="range">
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center" *ngIf="testContext.readyForTest">
            <button class="btn btn-success mb-5" (click)="runTest()">Run Tests</button>
        </div>

    </div>
    <p *ngIf="testContext.attackInProgress">
        <ngb-progressbar type="info " [value]="testContext.progress " [striped]="true "></ngb-progressbar>
    </p>

    <div id="report" *ngIf="testContext.reports">
        <div class="card attack" *ngFor="let r of testContext.reports | keyvalue">
            <div class="card-header">
                {{r.key}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">Original Sample</div>
                    <div class="col-4">Perturbation</div>
                    <div class="col-4">Adversarial Sample</div>
                </div>
                <div *ngFor="let a of r.value; let i = index" class="row attack-case">
                    <div class="col-4">
                        <div class="image-container">
                            <img class="image img-thumbnail" src="{{a.orImage}}">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Prediction
                            </div>
                            <div class="col-6">
                                {{a.originalPrediction}}
                            </div>
                            <div class="col-6">
                                Confidence
                            </div>
                            <div class="col-6">
                                {{a.originalConfidence}}
                            </div>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="image-container">
                            <img class="image img-thumbnail" src="{{a.delta}}">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="image-container">
                            <img class="image img-thumbnail" src="{{a.advImage}}">
                        </div>

                        <div class="row">
                            <div class="col-6">
                                Prediction
                            </div>
                            <div class="col-6">
                                {{a.advPrediction}}
                            </div>
                            <div class="col-6">
                                Confidence
                            </div>
                            <div class="col-6">
                                {{a.advConfidence}}
                            </div>
                            <div class="col-6">
                                Euclidian distance
                            </div>
                            <div class="col-6">
                                {{a.euclidianDistance}}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>